target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/lib/beatoraja.jar
/.idea/artifacts/ChickIR_0_0_1_jar.xml
/src/test/java/bms/player/beatoraja/ir/ChickIRConnectionTest.java
/.idea/encodings.xml
/out/artifacts/ChickIR_0_0_1_jar/IR_project.jar
/src/main/java/org/chickenrice/Main.java
/src/main/resources/META-INF/MANIFEST.MF
/.idea/misc.xml
/README.md
/.idea/uiDesigner.xml
/.idea/vcs.xml
